body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Siyah arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    color: #FFFFFF; /* Beyaz metin rengi */
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px; /* Logonun altına boşluk ekler */
}

h1 {
    font-size: 2.5rem; /* Başlık boyutunu artır */
    margin: 0;
}

p {
    font-size: 1.5rem; /* Paragraf boyutunu artır */
    margin: 0;
}
